#include<stdlib.h>
#include<stdio.h>

/**
 * This program converts US Dollars
 * to British Pounds with Japanese
 * JPY as the exchange fee
 */
 int main(int arrgc, char **argv) {

    double us dollar, british pound;

  //TODO; implement this
  //1. Prompt the user for input in US Dollar
  printf("Please enter US Dollar amount: ");

  //2.Read the US Dollar amount from the standard input
  scanf("%lf", &us dollar);

  //3. Compute the amount in British Pounds
  1 us dollar = 0.6 british pound;
  //4. Compute the exchange fee in Japanese JPY
  1 us dollar = 76.8 jpy;
  //5. Print the result to the user
  printf("%f US Dollar is %f British Pound\n", us dollar, british pound);

  return 0;
  }
