#include<stdlib.h>
#include<stdio.h>

/**
 * This program converts US Dollars
 * to British Pounds with Japanese
 * JPY as the exchange fee
 */
 int main(int arrgc, char **argv) {

    double usDollar, britishPound, JPY;

  //TODO; implement this
  //1. Prompt the user for input in US Dollar
  printf("Please enter US Dollar amount: ");

  //2.Read the US Dollar amount from the standard input
  scanf("%lf", &usDollar);
usDollar = 0.9 * usDollar
  //3. Compute the amount in British Pounds
  britishPounds = 0.6 * (usDollar / 2.0);
  //4. Compute the exchange fee in Japanese JPY
  JPY = usDollar * (76.8 / 2.0);
  //5. Print the result to the user
  printf("%f usDollar is %f britishPound is %f JPY \n", usDollar, britishPound, JPY);

  return 0;
  }
